__pycache__/
.docker/
.mypy_cache/
.pytest_cache/
.venv/
app/data/2022/google_trends/fr/hourly/interest_by_region/2021_47.csv
app/data/2022/google_trends/fr/hourly/interest_by_region/2021_48.csv
app/data/2022/google_trends/fr/hourly/interest_by_region/2021_49.csv
app/data/2022/google_trends/fr/hourly/interest_by_region/2021_50.csv
app/data/2022/google_trends/fr/hourly/interest_by_region/2021_51.csv
app/data/2022/google_trends/fr/hourly/interest_by_region/2021_52.csv
app/data/2022/google_trends/fr/hourly/interest_by_region/2021_53.csv
app/data/2022/google_trends/fr/hourly/interest_by_region/2022_10.csv
app/data/2022/google_trends/fr/hourly/interest_by_region/2022_11.csv
app/data/2022/google_trends/fr/hourly/interest_by_region/2022_12.csv
app/data/2022/google_trends/fr/hourly/interest_by_region/2022_13.csv
app/data/2022/google_trends/fr/hourly/interest_by_region/2022_14.csv
app/data/2022/google_trends/fr/hourly/interest_by_region/2022_2.csv
app/data/2022/google_trends/fr/hourly/interest_by_region/2022_3.csv
app/data/2022/google_trends/fr/hourly/interest_by_region/2022_4.csv
app/data/2022/google_trends/fr/hourly/interest_by_region/2022_5.csv
app/data/2022/google_trends/fr/hourly/interest_by_region/2022_6.csv
app/data/2022/google_trends/fr/hourly/interest_by_region/2022_7.csv
app/data/2022/google_trends/fr/hourly/interest_by_region/2022_8.csv
app/data/2022/google_trends/fr/hourly/interest_by_region/2022_9.csv
app/data/2022/google_trends/fr/hourly/interest_over_time/2021_47.csv
app/data/2022/google_trends/fr/hourly/interest_over_time/2021_48.csv
app/data/2022/google_trends/fr/hourly/interest_over_time/2021_49.csv
app/data/2022/google_trends/fr/hourly/interest_over_time/2021_50.csv
app/data/2022/google_trends/fr/hourly/interest_over_time/2021_51.csv
app/data/2022/google_trends/fr/hourly/interest_over_time/2021_52.csv
app/data/2022/google_trends/fr/hourly/interest_over_time/2021_53.csv
app/data/2022/google_trends/fr/hourly/interest_over_time/2022_10.csv
app/data/2022/google_trends/fr/hourly/interest_over_time/2022_11.csv
app/data/2022/google_trends/fr/hourly/interest_over_time/2022_12.csv
app/data/2022/google_trends/fr/hourly/interest_over_time/2022_13.csv
app/data/2022/google_trends/fr/hourly/interest_over_time/2022_14.csv
app/data/2022/google_trends/fr/hourly/interest_over_time/2022_2.csv
app/data/2022/google_trends/fr/hourly/interest_over_time/2022_3.csv
app/data/2022/google_trends/fr/hourly/interest_over_time/2022_4.csv
app/data/2022/google_trends/fr/hourly/interest_over_time/2022_5.csv
app/data/2022/google_trends/fr/hourly/interest_over_time/2022_6.csv
app/data/2022/google_trends/fr/hourly/interest_over_time/2022_7.csv
app/data/2022/google_trends/fr/hourly/interest_over_time/2022_8.csv
app/data/2022/google_trends/fr/hourly/interest_over_time/2022_9.csv
app/data/2022/google_trends/fr/hourly/related_queries_rising/2021_47.csv
app/data/2022/google_trends/fr/hourly/related_queries_rising/2021_48.csv
app/data/2022/google_trends/fr/hourly/related_queries_rising/2021_49.csv
app/data/2022/google_trends/fr/hourly/related_queries_rising/2021_50.csv
app/data/2022/google_trends/fr/hourly/related_queries_rising/2021_51.csv
app/data/2022/google_trends/fr/hourly/related_queries_rising/2021_52.csv
app/data/2022/google_trends/fr/hourly/related_queries_rising/2021_53.csv
app/data/2022/google_trends/fr/hourly/related_queries_rising/2022_10.csv
app/data/2022/google_trends/fr/hourly/related_queries_rising/2022_11.csv
app/data/2022/google_trends/fr/hourly/related_queries_rising/2022_12.csv
app/data/2022/google_trends/fr/hourly/related_queries_rising/2022_13.csv
app/data/2022/google_trends/fr/hourly/related_queries_rising/2022_14.csv
app/data/2022/google_trends/fr/hourly/related_queries_rising/2022_2.csv
app/data/2022/google_trends/fr/hourly/related_queries_rising/2022_3.csv
app/data/2022/google_trends/fr/hourly/related_queries_rising/2022_4.csv
app/data/2022/google_trends/fr/hourly/related_queries_rising/2022_5.csv
app/data/2022/google_trends/fr/hourly/related_queries_rising/2022_6.csv
app/data/2022/google_trends/fr/hourly/related_queries_rising/2022_7.csv
app/data/2022/google_trends/fr/hourly/related_queries_rising/2022_8.csv
app/data/2022/google_trends/fr/hourly/related_queries_rising/2022_9.csv
app/data/2022/google_trends/fr/hourly/related_queries_top/2021_47.csv
app/data/2022/google_trends/fr/hourly/related_queries_top/2021_48.csv
app/data/2022/google_trends/fr/hourly/related_queries_top/2021_49.csv
app/data/2022/google_trends/fr/hourly/related_queries_top/2021_50.csv
app/data/2022/google_trends/fr/hourly/related_queries_top/2021_51.csv
app/data/2022/google_trends/fr/hourly/related_queries_top/2021_52.csv
app/data/2022/google_trends/fr/hourly/related_queries_top/2021_53.csv
app/data/2022/google_trends/fr/hourly/related_queries_top/2022_10.csv
app/data/2022/google_trends/fr/hourly/related_queries_top/2022_11.csv
app/data/2022/google_trends/fr/hourly/related_queries_top/2022_12.csv
app/data/2022/google_trends/fr/hourly/related_queries_top/2022_13.csv
app/data/2022/google_trends/fr/hourly/related_queries_top/2022_14.csv
app/data/2022/google_trends/fr/hourly/related_queries_top/2022_2.csv
app/data/2022/google_trends/fr/hourly/related_queries_top/2022_3.csv
app/data/2022/google_trends/fr/hourly/related_queries_top/2022_4.csv
app/data/2022/google_trends/fr/hourly/related_queries_top/2022_5.csv
app/data/2022/google_trends/fr/hourly/related_queries_top/2022_6.csv
app/data/2022/google_trends/fr/hourly/related_queries_top/2022_7.csv
app/data/2022/google_trends/fr/hourly/related_queries_top/2022_8.csv
app/data/2022/google_trends/fr/hourly/related_queries_top/2022_9.csv
app/data/2022/google_trends/fr/hourly/related_topics_rising/2021_47.csv
app/data/2022/google_trends/fr/hourly/related_topics_rising/2021_48.csv
app/data/2022/google_trends/fr/hourly/related_topics_rising/2021_49.csv
app/data/2022/google_trends/fr/hourly/related_topics_rising/2021_50.csv
app/data/2022/google_trends/fr/hourly/related_topics_rising/2021_51.csv
app/data/2022/google_trends/fr/hourly/related_topics_rising/2021_52.csv
app/data/2022/google_trends/fr/hourly/related_topics_rising/2021_53.csv
app/data/2022/google_trends/fr/hourly/related_topics_rising/2022_10.csv
app/data/2022/google_trends/fr/hourly/related_topics_rising/2022_11.csv
app/data/2022/google_trends/fr/hourly/related_topics_rising/2022_12.csv
app/data/2022/google_trends/fr/hourly/related_topics_rising/2022_13.csv
app/data/2022/google_trends/fr/hourly/related_topics_rising/2022_14.csv
app/data/2022/google_trends/fr/hourly/related_topics_rising/2022_2.csv
app/data/2022/google_trends/fr/hourly/related_topics_rising/2022_3.csv
app/data/2022/google_trends/fr/hourly/related_topics_rising/2022_4.csv
app/data/2022/google_trends/fr/hourly/related_topics_rising/2022_5.csv
app/data/2022/google_trends/fr/hourly/related_topics_rising/2022_6.csv
app/data/2022/google_trends/fr/hourly/related_topics_rising/2022_7.csv
app/data/2022/google_trends/fr/hourly/related_topics_rising/2022_8.csv
app/data/2022/google_trends/fr/hourly/related_topics_rising/2022_9.csv
app/data/2022/google_trends/fr/hourly/related_topics_top/2021_47.csv
app/data/2022/google_trends/fr/hourly/related_topics_top/2021_48.csv
app/data/2022/google_trends/fr/hourly/related_topics_top/2021_49.csv
app/data/2022/google_trends/fr/hourly/related_topics_top/2021_50.csv
app/data/2022/google_trends/fr/hourly/related_topics_top/2021_51.csv
app/data/2022/google_trends/fr/hourly/related_topics_top/2021_52.csv
app/data/2022/google_trends/fr/hourly/related_topics_top/2021_53.csv
app/data/2022/google_trends/fr/hourly/related_topics_top/2022_10.csv
app/data/2022/google_trends/fr/hourly/related_topics_top/2022_11.csv
app/data/2022/google_trends/fr/hourly/related_topics_top/2022_12.csv
app/data/2022/google_trends/fr/hourly/related_topics_top/2022_13.csv
app/data/2022/google_trends/fr/hourly/related_topics_top/2022_14.csv
app/data/2022/google_trends/fr/hourly/related_topics_top/2022_2.csv
app/data/2022/google_trends/fr/hourly/related_topics_top/2022_3.csv
app/data/2022/google_trends/fr/hourly/related_topics_top/2022_4.csv
app/data/2022/google_trends/fr/hourly/related_topics_top/2022_5.csv
app/data/2022/google_trends/fr/hourly/related_topics_top/2022_6.csv
app/data/2022/google_trends/fr/hourly/related_topics_top/2022_7.csv
app/data/2022/google_trends/fr/hourly/related_topics_top/2022_8.csv
app/data/2022/google_trends/fr/hourly/related_topics_top/2022_9.csv
app/data/2022/google_trends/world/hourly/interest_by_region/2021_47.csv
app/data/2022/google_trends/world/hourly/interest_by_region/2021_48.csv
app/data/2022/google_trends/world/hourly/interest_by_region/2021_49.csv
app/data/2022/google_trends/world/hourly/interest_by_region/2021_50.csv
app/data/2022/google_trends/world/hourly/interest_by_region/2021_51.csv
app/data/2022/google_trends/world/hourly/interest_by_region/2021_52.csv
app/data/2022/google_trends/world/hourly/interest_by_region/2021_53.csv
app/data/2022/google_trends/world/hourly/interest_by_region/2022_10.csv
app/data/2022/google_trends/world/hourly/interest_by_region/2022_11.csv
app/data/2022/google_trends/world/hourly/interest_by_region/2022_12.csv
app/data/2022/google_trends/world/hourly/interest_by_region/2022_13.csv
app/data/2022/google_trends/world/hourly/interest_by_region/2022_14.csv
app/data/2022/google_trends/world/hourly/interest_by_region/2022_2.csv
app/data/2022/google_trends/world/hourly/interest_by_region/2022_3.csv
app/data/2022/google_trends/world/hourly/interest_by_region/2022_4.csv
app/data/2022/google_trends/world/hourly/interest_by_region/2022_5.csv
app/data/2022/google_trends/world/hourly/interest_by_region/2022_6.csv
app/data/2022/google_trends/world/hourly/interest_by_region/2022_7.csv
app/data/2022/google_trends/world/hourly/interest_by_region/2022_8.csv
app/data/2022/google_trends/world/hourly/interest_by_region/2022_9.csv
app/data/2022/google_trends/world/hourly/interest_over_time/2021_47.csv
app/data/2022/google_trends/world/hourly/interest_over_time/2021_48.csv
app/data/2022/google_trends/world/hourly/interest_over_time/2021_49.csv
app/data/2022/google_trends/world/hourly/interest_over_time/2021_50.csv
app/data/2022/google_trends/world/hourly/interest_over_time/2021_51.csv
app/data/2022/google_trends/world/hourly/interest_over_time/2021_52.csv
app/data/2022/google_trends/world/hourly/interest_over_time/2021_53.csv
app/data/2022/google_trends/world/hourly/interest_over_time/2022_10.csv
app/data/2022/google_trends/world/hourly/interest_over_time/2022_11.csv
app/data/2022/google_trends/world/hourly/interest_over_time/2022_12.csv
app/data/2022/google_trends/world/hourly/interest_over_time/2022_13.csv
app/data/2022/google_trends/world/hourly/interest_over_time/2022_14.csv
app/data/2022/google_trends/world/hourly/interest_over_time/2022_2.csv
app/data/2022/google_trends/world/hourly/interest_over_time/2022_3.csv
app/data/2022/google_trends/world/hourly/interest_over_time/2022_4.csv
app/data/2022/google_trends/world/hourly/interest_over_time/2022_5.csv
app/data/2022/google_trends/world/hourly/interest_over_time/2022_6.csv
app/data/2022/google_trends/world/hourly/interest_over_time/2022_7.csv
app/data/2022/google_trends/world/hourly/interest_over_time/2022_8.csv
app/data/2022/google_trends/world/hourly/interest_over_time/2022_9.csv
app/data/2022/google_trends/world/hourly/related_queries_rising/2021_47.csv
app/data/2022/google_trends/world/hourly/related_queries_rising/2021_48.csv
app/data/2022/google_trends/world/hourly/related_queries_rising/2021_49.csv
app/data/2022/google_trends/world/hourly/related_queries_rising/2021_50.csv
app/data/2022/google_trends/world/hourly/related_queries_rising/2021_51.csv
app/data/2022/google_trends/world/hourly/related_queries_rising/2021_52.csv
app/data/2022/google_trends/world/hourly/related_queries_rising/2021_53.csv
app/data/2022/google_trends/world/hourly/related_queries_rising/2022_10.csv
app/data/2022/google_trends/world/hourly/related_queries_rising/2022_11.csv
app/data/2022/google_trends/world/hourly/related_queries_rising/2022_12.csv
app/data/2022/google_trends/world/hourly/related_queries_rising/2022_13.csv
app/data/2022/google_trends/world/hourly/related_queries_rising/2022_14.csv
app/data/2022/google_trends/world/hourly/related_queries_rising/2022_2.csv
app/data/2022/google_trends/world/hourly/related_queries_rising/2022_3.csv
app/data/2022/google_trends/world/hourly/related_queries_rising/2022_4.csv
app/data/2022/google_trends/world/hourly/related_queries_rising/2022_5.csv
app/data/2022/google_trends/world/hourly/related_queries_rising/2022_6.csv
app/data/2022/google_trends/world/hourly/related_queries_rising/2022_7.csv
app/data/2022/google_trends/world/hourly/related_queries_rising/2022_8.csv
app/data/2022/google_trends/world/hourly/related_queries_rising/2022_9.csv
app/data/2022/google_trends/world/hourly/related_queries_top/2021_47.csv
app/data/2022/google_trends/world/hourly/related_queries_top/2021_48.csv
app/data/2022/google_trends/world/hourly/related_queries_top/2021_49.csv
app/data/2022/google_trends/world/hourly/related_queries_top/2021_50.csv
app/data/2022/google_trends/world/hourly/related_queries_top/2021_51.csv
app/data/2022/google_trends/world/hourly/related_queries_top/2021_52.csv
app/data/2022/google_trends/world/hourly/related_queries_top/2021_53.csv
app/data/2022/google_trends/world/hourly/related_queries_top/2022_10.csv
app/data/2022/google_trends/world/hourly/related_queries_top/2022_11.csv
app/data/2022/google_trends/world/hourly/related_queries_top/2022_12.csv
app/data/2022/google_trends/world/hourly/related_queries_top/2022_13.csv
app/data/2022/google_trends/world/hourly/related_queries_top/2022_14.csv
app/data/2022/google_trends/world/hourly/related_queries_top/2022_2.csv
app/data/2022/google_trends/world/hourly/related_queries_top/2022_3.csv
app/data/2022/google_trends/world/hourly/related_queries_top/2022_4.csv
app/data/2022/google_trends/world/hourly/related_queries_top/2022_5.csv
app/data/2022/google_trends/world/hourly/related_queries_top/2022_6.csv
app/data/2022/google_trends/world/hourly/related_queries_top/2022_7.csv
app/data/2022/google_trends/world/hourly/related_queries_top/2022_8.csv
app/data/2022/google_trends/world/hourly/related_queries_top/2022_9.csv
app/data/2022/google_trends/world/hourly/related_topics_rising/2021_47.csv
app/data/2022/google_trends/world/hourly/related_topics_rising/2021_48.csv
app/data/2022/google_trends/world/hourly/related_topics_rising/2021_49.csv
app/data/2022/google_trends/world/hourly/related_topics_rising/2021_50.csv
app/data/2022/google_trends/world/hourly/related_topics_rising/2021_51.csv
app/data/2022/google_trends/world/hourly/related_topics_rising/2021_52.csv
app/data/2022/google_trends/world/hourly/related_topics_rising/2021_53.csv
app/data/2022/google_trends/world/hourly/related_topics_rising/2022_10.csv
app/data/2022/google_trends/world/hourly/related_topics_rising/2022_11.csv
app/data/2022/google_trends/world/hourly/related_topics_rising/2022_12.csv
app/data/2022/google_trends/world/hourly/related_topics_rising/2022_13.csv
app/data/2022/google_trends/world/hourly/related_topics_rising/2022_14.csv
app/data/2022/google_trends/world/hourly/related_topics_rising/2022_2.csv
app/data/2022/google_trends/world/hourly/related_topics_rising/2022_3.csv
app/data/2022/google_trends/world/hourly/related_topics_rising/2022_4.csv
app/data/2022/google_trends/world/hourly/related_topics_rising/2022_5.csv
app/data/2022/google_trends/world/hourly/related_topics_rising/2022_6.csv
app/data/2022/google_trends/world/hourly/related_topics_rising/2022_7.csv
app/data/2022/google_trends/world/hourly/related_topics_rising/2022_8.csv
app/data/2022/google_trends/world/hourly/related_topics_rising/2022_9.csv
app/data/2022/google_trends/world/hourly/related_topics_top/2021_47.csv
app/data/2022/google_trends/world/hourly/related_topics_top/2021_48.csv
app/data/2022/google_trends/world/hourly/related_topics_top/2021_49.csv
app/data/2022/google_trends/world/hourly/related_topics_top/2021_50.csv
app/data/2022/google_trends/world/hourly/related_topics_top/2021_51.csv
app/data/2022/google_trends/world/hourly/related_topics_top/2021_52.csv
app/data/2022/google_trends/world/hourly/related_topics_top/2021_53.csv
app/data/2022/google_trends/world/hourly/related_topics_top/2022_10.csv
app/data/2022/google_trends/world/hourly/related_topics_top/2022_11.csv
app/data/2022/google_trends/world/hourly/related_topics_top/2022_12.csv
app/data/2022/google_trends/world/hourly/related_topics_top/2022_13.csv
app/data/2022/google_trends/world/hourly/related_topics_top/2022_14.csv
app/data/2022/google_trends/world/hourly/related_topics_top/2022_2.csv
app/data/2022/google_trends/world/hourly/related_topics_top/2022_3.csv
app/data/2022/google_trends/world/hourly/related_topics_top/2022_4.csv
app/data/2022/google_trends/world/hourly/related_topics_top/2022_5.csv
app/data/2022/google_trends/world/hourly/related_topics_top/2022_6.csv
app/data/2022/google_trends/world/hourly/related_topics_top/2022_7.csv
app/data/2022/google_trends/world/hourly/related_topics_top/2022_8.csv
app/data/2022/google_trends/world/hourly/related_topics_top/2022_9.csv
app/data/2022/twitter/.ipynb_checkpoints/2021_46-checkpoint.csv
app/data/2022/twitter/2021_46.csv
app/data/2022/twitter/2021_47.csv
app/data/2022/twitter/2021_48.csv
app/data/2022/twitter/2021_49.csv
app/data/2022/twitter/2021_50.csv
app/data/2022/twitter/2021_51.csv
app/data/2022/twitter/2021_52.csv
app/data/2022/twitter/2021_53.csv
app/data/2022/twitter/2022_10.csv
app/data/2022/twitter/2022_11.csv
app/data/2022/twitter/2022_12.csv
app/data/2022/twitter/2022_13.csv
app/data/2022/twitter/2022_14.csv
app/data/2022/twitter/2022_2.csv
app/data/2022/twitter/2022_3.csv
app/data/2022/twitter/2022_4.csv
app/data/2022/twitter/2022_5.csv
app/data/2022/twitter/2022_6.csv
app/data/2022/twitter/2022_7.csv
app/data/2022/twitter/2022_8.csv
app/data/2022/twitter/2022_9.csv
app/data/2022/candidates.csv
app/data/candidate_mapping.csv
app/data/region_location.csv
app/data/states.csv
app/data/states_results.csv
app/data/states_statistics.csv
